<% 
@wday_index = 1 
@trOpen = false
@row = 0
@total_hours = 0.0
thours = nums = Array[0.0, 0.0, 0.0, 0.0,0.0, 0.0, 0.0]
prev_entry = nil
entry = nil 
currencySym = ""
user = nil
%>

<div class="wk-contextual">
<% if @editable %>
	<%= link_to l(:button_add_row), "javascript:addRow();projectChanged(document.getElementsByName('time_entry[][project_id]'),0);", :class => 'icon icon-time-add' %>
<% end %>
</div>

<table id="issueTable" class="list time-entries">
<thead>
<tr>
	<%= render :partial => 'issue_header'%>
</tr>
</thead>
<tbody>

<%#add by Soniaz - to lock closed issue modification on the timesheet %>
<% real_editable = @editable %>
<% issue_closed = false %>

<% unless entries.blank?
	col_values = []
	matrix_values = []
	weeklyHash = getWeeklyView(entries, controller.getUnitLabel, false)	
	weeklyHash.each do |key, matrix|
		matrix.each do |rows|
			issueWritten = false
			rows.each.with_index do |entry, i|
%>
				<% if !entry.blank? %>	 
				<%- user =	entry.user %>	

					<% if !issueWritten %>
						<% # this is a new Row %>
						<% # close the previously opened row first %>
						<%= render :partial => 'edit_hours', :locals => {:entry => nil, :isTemplate => false,
							:padAt => 'end', :padTill => 8}%>
						
							<%#add by Soniaz - to lock closed issue modification on the timesheet %>
							<% if entry.issue.status.is_closed %>
								<% issue_closed = true %>
								<% @editable = false %>
							<% else %>
								<% issue_closed = false %>
								<% @editable = real_editable %>
							<% end %>


						<%= render :partial => 'edit_issues2', :locals => {:entry => entry, :isTemplate => false}%>		
						<% issueWritten = true %>
					<% end %>
					<% # fill the days till the current day %>
					<%= render :partial => 'edit_hours', :locals => {:entry => nil, :isTemplate => false, 
							:padAt => 'begin', :padTill => i+1}%>
					<%= render :partial => 'edit_hours', :locals => {:entry => entry, :isTemplate => false, 
					:padAt => 'begin', :padTill => i+2}%>	
					<% thours[i] += entry.hours unless @prev_template%>
					<% @total_hours += entry.hours unless @prev_template%>
					<% currencySym = controller.getUnit(entry) %>
				<% end %>
			<% end %>
			<% # write only the firt row for previous week template
			  break if @prev_template %>
		<% end %>
	<% end %>

<% else -%>
	<% # if there are no entries, put an empty row%>
	<% currencySym = controller.getUnit(nil) %>
	<%= render :partial => 'edit_issues2', :locals => {:entry => nil, :isTemplate => false}%>
<% end %>
	
	<% # pad any incomplete days %>
	<%= render :partial => 'edit_hours', :locals => {:entry => nil, :isTemplate => false,
		:padAt => 'end', :padTill => 8}%>

	<%#add by Soniaz - to lock closed issue modification on the timesheet %>
	<% @editable = real_editable %>
	
	<!-- row for putting the total -->
	<tr>
	<td class="project"></td>
	<td class="issue"></td>
	<td class="activity"></td>	
	<td class="comments"></td>
	<td ></td> <!-- for currency -->
	<td></td>
	<td></td>
	<% thours.each_with_index do |th,i| %>		
		<td align="center">
			<%= currencySym %>&nbsp;<span id=<%= "day_total_#{i+1}" %>
				<% if !controller.logInDaysCondition(@user.id) %> 
				style="display: initial; "<% else %> style="display: none;"
				<% end %> ><%= ("%.2f" % th) %></span>
			<span id=<%= "day_total_#{i+1}_byDay"%> 
				<% if !controller.logInDaysCondition(@user.id) %> 
				style="display: none;"<% else %> style="display: initial; "
				<% end %>
				> <%= ("%.2f" % ((th*5)/@user.actual_weekly_working_hours)) %>  </span> <% if params[:controller] == "wktime" %>
			<% if controller.logInDaysCondition(@user.id) %> day<% else %> hours<% end %><% end %>
		</td>
	<% end %>
	<td>	
	<b>	<%= l(:label_total) %>: <%= currencySym %>&nbsp;<span id="total_hours" <% if controller.logInDaysCondition(@user.id) %> 
				style="display: none;"<% else %> style="display: initial; "
				<% end %>> <%= ("%.2f" % @total_hours) %> </span><span id="total_days" <% if controller.logInDaysCondition(@user.id) %> 
				style="display: initial;"<% else %> style="display: none; "
				<% end %>><%= ("%.2f" % ((@total_hours*5)/@user.actual_weekly_working_hours)) %>
	</span><% if params[:controller] == "wktime" %><% if controller.logInDaysCondition(@user.id) %> days<% else %> hours<% end %><% end %> </b>
	<%=h hidden_field_tag('total', ("%.2f" % @total_hours) ) %>
	<%=h hidden_field_tag('unit', currencySym) %>
	</td>
	</tr>	
	
	<% if controller.showWorktimeHeader %>
		<!-- Remaining Hours -->
		<%= render :partial => 'worktime_header', :locals => {:str => 'remaining_hours', :isEditable => false, :value => '0.0'}%>
	<% end %>
</tbody>
</table>

<% if @wktime.nil? || @wktime.status == 'n' || @wktime.status == 'r' %>
		<%= submit_tag l(:button_save), :id => 'wktime_save', :name => 'wktime_save',  :disabled => !(@row > 0)%>
        <%= submit_tag l(:button_save_continue), :id => 'wktime_save_continue', :name => 'wktime_save_continue' , :disabled => !(@row > 0)%>
	<% if !Setting.plugin_redmine_wktime[:wktime_use_approval_system].blank? &&
			Setting.plugin_redmine_wktime[:wktime_use_approval_system].to_i == 1 %>		
			<%= submit_tag l(:button_submit),:id => 'wktime_submit', :name => 'wktime_submit', :onclick => "return validateMinhour('#{controller.minHour}','#{getNonWorkingDayColumn(params[:startday])}');" , :disabled => !(@row > 0)%>
	<% end %>
<% end %>
<% if !Setting.plugin_redmine_wktime[:wktime_use_approval_system].blank? &&
	Setting.plugin_redmine_wktime[:wktime_use_approval_system].to_i == 1 %>
	<% if !@wktime.nil? && @wktime.status == 's' %>
		<%= submit_tag l(:button_wk_unsubmit), :name => 'wktime_unsubmit', :disabled => !(@row > 0)%>
			<% if controller.check_approvable_status() %>		
			<%= submit_tag l(:button_wk_approve), :name => 'wktime_approve', :disabled => !(@row > 0)%>
			<%=h hidden_field_tag('wktime_notes', "") %>
			<% # the jquery dialog box doesn't port the reject button value%>
			<%=h hidden_field_tag('hidden_wk_reject', "") %>
			<%= submit_tag l(:button_wk_reject), :name => 'wktime_reject', :disabled => !(@row > 0),
				:onclick => "return showNotes();" %>
		<% end %>
	<% elsif  !@wktime.nil? && @wktime.status == 'a' %>
	<% if controller.check_approvable_status()  %>		
			<%= submit_tag l(:button_wk_unapprove), :id => 'wktime_unapprove', :name => 'wktime_unapprove'%>
		<% end %>
	<% end %>
<% end %>

<div class="splitcontentright">
<div class="contextual">
<% if @editable %>
	<%= link_to l(:button_add_row), "javascript:addRow();projectChanged(document.getElementsByName('time_entry[][project_id]'),0);", :class => 'icon icon-time-add' %>
<% end %>
</div>
</div>
<%= context_menu time_entries_context_menu_path %>
